@font-face {
	font-family: 'Fusion Pixel 12';
	src: url(fonts/fusion-pixel-12px-monospaced-zh_hant.ttf);
}

body{
	background-image: url(images/sky_hiru.png);
	background-size: cover;
	cursor: url(images/default_arrow.cur), default;
}

.logo{display: block;
	position: relative;
	top: 25px;}

button{display: inline;
	background: none; 
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	font-family: 'Fusion Pixel 12';
	font-size: 18px;
	text-shadow: 1px 1px #000000;
	color: #ffffff;
	cursor: url(images/default_link.cur), pointer;
	}

.applications{display: block;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 5px;
	text-align: center;
	}

#notepad{
	position: relative;
	width: 95px;
	height: 71px;
	background-image: url(images/shell32.dll_14_152-5.png);
	background-size: 50px auto;
	background-position: center top 0px;
	background-repeat: no-repeat;
}

#notepad span{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

#clip {
	position: relative;
	width: 60px;
	height: 71px;
	background-image: url(images/clip.png);
	background-size: 50px auto;
	background-position: center top 0px;
	background-repeat: no-repeat;
}

#clip span{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

.folders{display: flex;
	flex-direction: column;
	width: 100px;
	align-items: center;
	}	

.modal{
	display: none;
	position: fixed;
}

.modal-content{
	position: relative;
}

.modal-header{
	display: flex;
}

.close{position: absolute;
	cursor: pointer;
	opacity: 0;
	background-color: transparent;
	font-size: 1.5em;
	border: none;
	top: 1px;
	right: 9px;
	cursor: url(images/default_link.cur), pointer;
}
	
.close2{
	position: absolute;
	cursor: pointer;
	opacity: 0;
	background-color: transparent;
	font-size: 1em;
	border: none;
	top: 2px;
	right: 5px;
	cursor: url(images/default_link.cur), pointer;
}

#modal1{
	top: 75px;
	left: 150px;
	z-index: 2;
}

#modal2{
	top: 25px;
	left: 125px;
	z-index: 1;
}

.container{display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 50px;
	top: 100px;
	}

.parent{display: flex;
	justify-content: center;
	align-items: center;}

.hulaoyan{width: 911px;
	}

.copyright{position: relative;
	width: 125px;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 25px;
	}

a{font-family: 'Fusion Pixel 12';
	font-size: 18px;
	text-shadow: 1px 1px #000000;
	color: #ffffff;
	text-decoration: none;
	cursor: url(images/default_link.cur), pointer;
}

p{font-family: 'Fusion Pixel 12';
	font-size: 16px;
	color: #000000}
