@font-face {
	font-family: 'Fusion Pixel 12';
	src: url(fonts/fusion-pixel-12px-monospaced-zh_hant.ttf);
}

@font-face {
	font-family: 'Pixelated Times New Roman';
	src: url(fonts/pixelated-times-new-roman.otf);
}

@font-face {
	font-family: 'Taipei24';
	src: url(fonts/Taipei24.ttf);
}

body{background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/sky_hiru.png);
	background-size: cover;
	cursor: url(images/default_arrow.cur), default;	
}

.applications{display: block;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 5px;
	text-align: center;
	opacity: 0.25;
	z-index: -1;
	}
	
#notepad{
	position: relative;
	width: 95px;
	height: 71px;
	background-image: url(images/shell32.dll_14_152-5.png);
	background-size: 50px auto;
	background-position: center top 0px;
	background-repeat: no-repeat;
}

#notepad span{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

#clip {
	position: relative;
	width: 60px;
	height: 71px;
	background-image: url(images/clip.png);
	background-size: 50px auto;
	background-position: center top 0px;
	background-repeat: no-repeat;
}

#clip span{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}
	
button{display: inline;
	background: none; 
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	font-family: 'Fusion Pixel 12';
	font-size: 18px;
	text-shadow: 1px 1px #000000;
	color: #ffffff;
	}
	
area {
	cursor: url(images/default_link.cur), pointer;
	display: block;
}	
	
.name{color: #ffffff;
	text-shadow: 1px 1px #000000;
}

.titlebar{display: flex;
	justify-content: center;
}

.menubar{display: flex;
	justify-content: center;
}

.content{position: relative;
	width: 1276px;
	height: 945px;
	margin: auto;
	border: 1px solid #716F65;
	box-shadow: 0 0 0 1px #9D9DA1;
	background-color: white;
	overflow: auto;
}

.container{position: relative;
	margin: auto;
	width: 1278px;
	height: 62px;
	background-image: linear-gradient(to right, #f3f3ee, #e0e2ea);
	align-content: center;
}

.menu{display: flex;
	position: relative;
	flex-direction: row;
	align-content: center;
	gap: 25px;
	left: 10px;
}

.item{display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	gap: 5px;
}

.about{display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.hometown{width: 1024px;
	margin: auto;
}

.landscape{display: flex;
	justify-content: center;
}

a{font-family: 'Fusion Pixel 12';
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	cursor: url(images/default_link.cur), pointer;
}
	
h1{font-family: 'Pixelated Times New Roman';
	font-size: 80px;
	text-align: center;
}

.title{font-family: 'Taipei24';
	font-size: 40px;
}

ul{font-family: 'Pixelated Times New Roman';
	font-size: 50px;
}

.chinese{font-family: 'Taipei24';
	font-size: 25px;
}

::-webkit-scrollbar {
	width: 16px;
	background-image: linear-gradient(to right, #eceef3, #fbfbfe);
	border: 1px solid #e5e6ed;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to right, #ffffff, #cdcedb);
	border: 1px solid #9495a1;
	border-radius: 2px;
	}

::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
    display: block
}

::-webkit-scrollbar-button:vertical:start {
	height: 17px;
	background-image: url(images/scroll-arrow-up.png);
}

::-webkit-scrollbar-button:vertical:end {
	height: 17px;
	background-image: url(images/scroll-arrow-down.png);
}
